In [51]:
#restarting with .contains strategy instead of count

import pandas as pd

data = pd.read_csv('checking.csv', index_col='index')
df = pd.DataFrame(data)
df['charCount'] = df['text'].str.len()

df.head()

,year,group,text,charCount
index,,,,
0,1869,1,Wer heutzutage von Aeschylus Sophocles Euripid...,48185
1,1869,2,Das Christenthumursprünglich Sache des Talente...,16322
2,1869,3,Wir sind leider gewöhnt die Künste in der Vere...,35696
3,1870,4,Erlangen Samstag den 20. August.Hier seit acht...,6273
4,1870,5,Gedanken zu„die Tragoedie und dieFreigeister“„...,42980

In [52]:
#split after each full stop, to paragraphs
df['text'] = df['text'].str.split('.')
df.to_csv('checking2.csv')
df

,year,group,text,charCount
index,,,,
0,1869,1,[Wer heutzutage von Aeschylus Sophocles Euripi...,48185
1,1869,2,[Das Christenthumursprünglich Sache des Talent...,16322
2,1869,3,[Wir sind leider gewöhnt die Künste in der Ver...,35696
3,1870,4,"[Erlangen Samstag den 20, August, Hier seit a...",6273
4,1870,5,[Gedanken zu„die Tragoedie und dieFreigeister“...,42980
...,...,...,...,...
171,1888,21,[Teichm<üller>Scept<iques> gr<ecs>SpirA<ugust>...,3854
172,1888,22,"[Randbemerkung zu einer niaserie anglaise, — ...",17302
173,1888,23,"[Auch ein Gebot der Menschenliebe, — Es giebt...",21974
174,1888,24,"[Ecce homoOder:warum ich Einiges mehr weiss, V...",34469
175,1888,25,"[Die große Politik, Ich bringe den Krieg, Nic...",15681

In [56]:
max = df['charCount'].max()
min = df['charCount'].min()

max, min

(263676, 77)

In [36]:
terms = {'schopenhauer': ['schopenhauer', 'schopenhauers', 'schopenhauerischen']}

for k, v in terms.items():
    df[k] = df.text.str.contains('|'.join(terms[k]))

df2 = df.groupby('index').sum().astype(int)

df2

       year  group  charCount  schopenhauer
index
0      1869      1      48185             0
1      1869      2      16322             0
2      1869      3      35696             0
3      1870      4       6273             0
4      1870      5      42980             0
...     ...    ...        ...           ...
171    1888     21       3854             0
172    1888     22      17302             0
173    1888     23      21974             0
174    1888     24      34469             0
175    1888     25      15681             0

[176 rows x 4 columns]