In [1]:
import requests

testData = requests.get("https://raw.githubusercontent.com/sarachodosh/workshop1-nietzsche/main/data-scraping/test.json"); testData

In [2]:
import pandas as pd

data = testData.json() #encode json to be readable
umlauts = data.read_json

     year  group                                               text
0    1869      1  [Wer heutzutage von Aeschylus Sophocles Euripi...
1    1869      2  [Das Christenthum, ursprünglich Sache des Tale...
2    1869      3  [Wir sind leider gewöhnt die Künste in der Ver...
3    1870      4  [Erlangen Samstag den 20. August., Hier seit a...
4    1870      5  [Gedanken zu\n„die Tragoedie und die\nFreigeis...
..    ...    ...                                                ...
171  1888     21  [Teichm<üller>, Scept<iques> gr<ecs>, Spir, A<...
172  1888     22  [Randbemerkung zu einer niaserie anglaise. — „...
173  1888     23  [Auch ein Gebot der Menschenliebe. — Es giebt ...
174  1888     24  [Ecce homo\nOder:\nwarum ich Einiges mehr weis...
175  1888     25  [Die große Politik., Ich bringe den Krieg. Nic...

[176 rows x 3 columns]

In [3]:
df = pd.DataFrame(data)
df['text'] =  df['text'].str[0] #Remove square brackets
df.head()

   year  group                                               text
0  1869      1  Wer heutzutage von Aeschylus Sophocles Euripid...
1  1869      2  Das Christenthum, ursprünglich Sache des Talen...
2  1869      3  Wir sind leider gewöhnt die Künste in der Vere...
3  1870      4                   Erlangen Samstag den 20. August.
4  1870      5  Gedanken zu\n„die Tragoedie und die\nFreigeister“

In [5]:
#Add word length

df['charCount'] = df['text'].str.len()

df.head(5)

   year  group                                               text  charCount
0  1869      1  Wer heutzutage von Aeschylus Sophocles Euripid...        721
1  1869      2  Das Christenthum, ursprünglich Sache des Talen...        361
2  1869      3  Wir sind leider gewöhnt die Künste in der Vere...        536
3  1870      4                   Erlangen Samstag den 20. August.         32
4  1870      5  Gedanken zu\n„die Tragoedie und die\nFreigeister“         47