In [100]:
import requests

testData = requests.get("https://raw.githubusercontent.com/sarachodosh/workshop1-nietzsche/main/data-scraping/test.json"); testData

In [192]:
import pandas as pd
data = pd.read_json('test.json') #encode json to be readable 

df = pd.DataFrame(data)
df['text'] =  df['text'].str[0] #Remove square brackets
df['text'] = df['text'].astype(str).replace(r'\n',' ', regex=True)
df['text'] = df['text'].astype(str).replace(r'„',' ', regex=True)
df['text'] = df['text'].astype(str).replace(r'“',' ', regex=True)
df['text'] = df['text'].astype(str).replace(r'\.',' ', regex=True)
df['text'] = df['text'].astype(str).replace(r',',' ', regex=True)
df['text'] = df['text'].astype(str).str.lower()
df['text'] = df['text'].astype(str).str.split()

df.to_csv('checking.csv')
df.head()

   year  group                                               text
0  1869      1  [wer, heutzutage, von, aeschylus, sophocles, e...
1  1869      2  [das, christenthum, ursprünglich, sache, des, ...
2  1869      3  [wir, sind, leider, gewöhnt, die, künste, in, ...
3  1870      4               [erlangen, samstag, den, 20, august]
4  1870      5  [gedanken, zu, die, tragoedie, und, die, freig...

In [199]:
df['schop2'] = df['text'].astype(str).str.count("schopenhauer")

df.head(20)

    year  group                                               text  schop2
0   1869      1  [wer, heutzutage, von, aeschylus, sophocles, e...       0
1   1869      2  [das, christenthum, ursprünglich, sache, des, ...       0
2   1869      3  [wir, sind, leider, gewöhnt, die, künste, in, ...       0
3   1870      4               [erlangen, samstag, den, 20, august]       0
4   1870      5  [gedanken, zu, die, tragoedie, und, die, freig...       0
5   1870      6                                                [§]       0
6   1870      7  [das, schöne, in, jeder, kunst, beginnt, erst,...       0
7   1870      8  [das, weib, dem, staate, gegenüber, —, der, sc...       0
8   1871      9      [die, oper, und, die, griechische, tragoedie]       0
9   1871     10  [geschrieben, in, den, ersten, wochen, des, ja...       0
10  1871     11                     [vorwort, an, richard, wagner]       0
11  1871     12  [was, wir, hier, über, das, verhältniß, der, s...       2
12  1871     13                    [zum, schluß, der, einleitung:]       0
13  1871     14                                             [gang]       0
14  1871     15                             [an, die, melancholie]       0
15  1871     16  [die, geburt, der, tragoedie, aus, dem, geiste...       0
16  1871     17                                  [entfleusst, dem]       0
17  1871     18  [gerade, immer, das, falsche, wird, ernst, gen...       0
18  1872     19  [in, einer, rechten, höhe, kommt, alles, zusam...       0
19  1872     20                [erster, vorläufiger, entwurf, von]       0

In [189]:
df['charCount'] = df['text'].str.len() #Add word length

In [197]:
terms = {'schopenhauer': ['schopenhauer', 'schopenhauers', 'schopenhauerischen']}

for k, v in terms.items():
    df1[k] = df1.text.str.contains('|'.join(terms[k]))

df1.groupby('index').sum().astype(int)

df1

AttributeError: Can only use .str accessor with string values!

In [196]:
dfYear = df.groupby('year').agg({'schop2': 'sum'})

dfYear

      schop2
year
1869       0
1870       0
1871       2
1872       1
1873       0
1874       1
1875       0
1876       0
1877       0
1878       0
1879       0
1880       0
1881       0
1882       0
1883       0
1884       0
1885       0
1886       0
1887       0
1888       0