In [83]:
import pandas as pd
import json
import re

In [141]:
data = pd.read_json('test.json')
data = pd.DataFrame(data)

testData = data.loc[0, 'text']
testData = str(testData)

In [24]:
p=re.compile(r'\b[Aa]ls\b')
p.findall(testData)
#len(p.findall(testData))

['als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'Als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'Als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als',
 'als']

In [32]:
# finds locations (start, end) of all matches
p=re.compile(r'als')
iterator = p.finditer(testData)

positions = []

for match in iterator:
    newPosition = match.start()
    positions.append(newPosition)

positions

[110,
 240,
 359,
 389,
 415,
 936,
 3073,
 3181,
 3427,
 3516,
 4252,
 4365,
 5074,
 6451,
 7554,
 7615,
 9873,
 9955,
 10445,
 10551,
 10690,
 10929,
 14411,
 15102,
 16233,
 16282,
 16333,
 16581,
 17112,
 17427,
 17741,
 17754,
 17886,
 18020,
 18057,
 19795,
 19899,
 19922,
 19985,
 20027,
 21051,
 21197,
 21546,
 23593,
 25841,
 26015,
 26093,
 26436,
 26916,
 26944,
 28237,
 30005,
 30372,
 31105,
 31238,
 31477,
 31505,
 33902,
 34935,
 35457,
 35703,
 40965,
 42716,
 44920,
 45500,
 45587,
 46340,
 46793,
 46968,
 47526,
 49126,
 49848]

In [190]:
# finds all matches
output = data
output['matches'] = ''
output['num_matches'] = ''

for i, row in output.iterrows():
    chunk = row['text']
    chunk = str(chunk)

    p=re.compile(r'.*')
    iterator = p.finditer(testData)
    for match in iterator:
        span = match.start()

    p = re.compile(r'\b[Ss]chopenhauer\w+') # will match all words beginning with 'Schopenhauer' or 'schopenhauer'
    output.at[i, 'matches'] = p.findall(chunk)
    output.at[i, 'num_matches'] = len(p.findall(chunk))
    iterator = p.finditer(testData)

positions = []

for match in iterator:
    newPosition = match.start()
    positions.append(newPosition)

positions  

output

,year,group,text,matches,num_matches
0,1869,1,[Wer heutzutage von Aeschylus Sophocles Euripi...,[],0
1,1869,2,"[Das Christenthum, ursprünglich Sache des Tale...",[],0
2,1869,3,[Wir sind leider gewöhnt die Künste in der Ver...,[Schopenhauersche],1
3,1870,4,"[Erlangen Samstag den 20. August., Hier seit a...",[],0
4,1870,5,[Gedanken zu\n„die Tragoedie und die\nFreigeis...,[schopenhauerischen],1
...,...,...,...,...,...
171,1888,21,"[Teichm<üller>, Scept<iques> gr<ecs>, Spir, A<...",[],0
172,1888,22,[Randbemerkung zu einer niaserie anglaise. — „...,[],0
173,1888,23,[Auch ein Gebot der Menschenliebe. — Es giebt ...,[],0
174,1888,24,[Ecce homo\nOder:\nwarum ich Einiges mehr weis...,"[Schopenhauern, Schopenhauers]",2
175,1888,25,"[Die große Politik., Ich bringe den Krieg. Nic...",[],0